@import "tailwindcss";


/* Scrollbar styling for WebKit browsers */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background-color: #4b5563; /* Tailwind zinc-600 */
    border-radius: 5px;
    border: 2px solid #1a1a1a;
}

/* Stylize slider thumb and track */
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 9999px;
    background-color: #22d3ee; /* cyan-400 */
    cursor: pointer;
    border: none;
    margin-top: -0.25rem; /* align with track */
}

input[type="range"]::-moz-range-thumb {
    height: 1rem;
    width: 1rem;
    border-radius: 9999px;
    background-color: #22d3ee;
    cursor: pointer;
    border: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: #334155; /* zinc-700 */
    height: 0.5rem;
    border-radius: 0.25rem;
}

.log-fullscreen {
    position: fixed !important;
    inset: 0;
    z-index: 50;
    background-color: black;
    padding-left: 1rem;
    max-height: none !important;
    height: 100vh;
    overflow-y: auto !important;
}

body {
    min-height: 100vh;
    background: linear-gradient(-30deg,
    #0e7490,  /* cyan-800: deep teal blue */
    #0369a1,  /* sky-800: dark blue */
    #164e63,  /* cyan-900: almost navy */
    #0ea5e9,  /* sky-500: lighter blue pop */
    #155e75,  /* cyan-700: blue-teal */
    #1e293b   /* slate-800: deep slate for depth */
    );
    background-size: 800% 800%;
    animation: gradient-ocean 60s ease-in-out infinite;
}

.reduce-motion *,
.reduce-motion *::before,
.reduce-motion *::after {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
}
.reduce-motion .backdrop-blur-xs,
.reduce-motion .backdrop-blur-sm {
    backdrop-filter: none !important;
    @apply bg-zinc-900
}

button {
    cursor: pointer;
}


@keyframes gradient-ocean {
    0%   { background-position: 0% 50%; }
    25%  { background-position: 50% 75%; }
    50%  { background-position: 100% 50%; }
    75%  { background-position: 50% 25%; }
    100% { background-position: 0% 50%; }
}

[data-tooltip] {
    @apply hidden absolute font-normal top-0 right-0 max-w-[350px] z-10 p-2 text-xs bg-cyan-400/50 backdrop-blur-[5px] rounded shadow-lg text-slate-300;
}
[data-tooltip][data-visible="true"] {
    @apply block;
}